/* Genel Stil */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .hidden {
    display: none;
  }
  
  /* Giriş Ekranı */
  .center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #error-message {
    color: red;
  }
  
  /* Admin Paneli */
  .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: white;
    position: fixed;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #444;
  }
  
  .sidebar li:hover {
    background-color: #555;
  }
  
  .content {
    margin-left: 200px;
    padding: 20px;
  }
  
  #content-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  