.dashboard {
    padding: 20px;
    margin-left: 50px; /* Sidebar'ın genişliği kadar kaydırma */
    margin-right: 0; /* Sağdaki boşluğu kaldırdık */
    background-color: #fffefe;
    z-index: 1; /* Dashboard içeriklerinin sidebar'ın altında olmamasını sağla */
    position: relative;
    min-height: 100vh; /* Yükseklik ayarı ekledik */
  }

  html {
  height: 100%; /* Sayfa yüksekliğini tam olarak kapsar */
}
  .dashboard-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .dashboard-header h2 {
    font-size: 32px;
    color: #333;
  }
  
  .dashboard-header p {
    font-size: 16px;
    color: #666;
  }
  
  .dashboard-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  
  .dashboard-stats {
    display: flex;
    gap: 20px;
  }
  
  .stat-card {
    background-color: #f2e3d4e4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
  }
  
  .stat-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #efa357;
  }
  
  .stat-card p {
    font-size: 32px;
    font-weight: bold;
    color: #333;
  }
  
  .dashboard-recent-activity {
    flex: 1;
    background-color: #f2e3d4e4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-recent-activity h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .dashboard-recent-activity ul {
    list-style-type: none;
    padding: 0;
  }
  
  .dashboard-recent-activity li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .dashboard-recent-activity li:last-child {
    border-bottom: none;
  }
  