/* Body ve html için margin ve padding sıfırlama */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Genel gri arka plan */
  }
  
  /* Sayfa Arka Planı */
  .musteri-olustur-container {
    transition: all 0.3s ease-in-out;
    padding: 20px;
    display: flex;
    justify-content: center; /* Yatayda ortalanma */
    align-items: center;     /* Dikeyde ortalanma */
    height: 100vh;           /* Sayfanın tam yüksekliği */
    width: 100%;             /* Sayfa genişliği */
    background-color: #ffffff; /* Arka Planı Gri Yap */
    overflow: hidden; /* Taşan içerikler varsa onları gizler */
  }
  
  /* Sidebar açıkken sağa kayacak */
  .musteri-olustur-container.open {
    margin-left: 300px; 
  }
  
  /* Sidebar kapalıyken sola kayacak */
  .musteri-olustur-container.closed {
    margin-left: 60px; 
  }
  
  /* Kartın düzenini ve büyüklüğünü ayarlıyoruz */
  .mui-card {
    max-width: 500px;  /* Kartın genişliği */
    width: 100%;       /* Kart genişliğini %100 yaparak ekranın boyutuna uyum sağla */
    margin: 20px 0;    /* Üstten ve alttan boşluk */
  }
  
  /* Buton stilini buraya ekliyoruz */
  button {
    background-color: orange;
    color: white;
    margin-top: 20px;
  }
  
  /* Başlık stilini ayarlıyoruz */
  .musteri-olustur-container h1 {
    text-align: center;  /* Başlık ortalanacak */
    font-size: 24px;
    margin-bottom: 20px;
  }
  