.dashboard {
  padding: 20px;
  margin-left: 250px; /* Sidebar'ın genişliği kadar kaydırma */
  transition: margin-left 0.3s ease; /* Sidebar açıldıkça içeriğin kayması */
}

.dashboard.sidebar-closed {
  margin-left: 0; /* Sidebar kapalı olduğunda Dashboard sağa kayar */
}

.dashboard-header {
  text-align: center;
  margin-bottom: 30px;
}

.dashboard-header h2 {
  font-size: 32px;
  color: #333;
}

.dashboard-header p {
  font-size: 16px;
  color: #666;
}
