.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #efa357; /* Sidebar rengini turuncu yapalım */
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  margin: 10px 0;
  cursor: pointer;
}

.menu-item:hover {
  text-decoration: underline;
}
